<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/admin/user">Manage User </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<div class="row">
    <form class="signup-form" action="/admin/faculty/<%= faculty._id %>/edit?_method=PUT" method="POST">
        <div class="log-border">
            <h2> Edit Faculty </h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="next" name="name" value="<%= faculty.name %>">
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Description</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="description"><%= faculty.description %></textarea>
                </div>
            </div>
            
            <div class="row fal-add-css">
                <div class="col span-1-of-2">
                    <button class="btn btn-ghost" type="submit">Update</button>
                </div>

                <div class="col span-1-of-2">
                    <a class="btn btn-ghost" href="/admin/faculty/<%= faculty._id %>">Cancel</a>
                </div>
            </div>
        <div>
</form>
</div>