<a href="/admin/faculty/new">Add New Faculty</a>
<h1>Search Faculty</h1>
<form action="/admin/faculty" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% faculty.forEach(faculty =>{ %>
        <a href="/admin/faculty/<%= faculty._id %>"><%= faculty.name %></a>
    <% }) %>
</div>
<a href="/admin">Home</a>