<div class="row">
    <form method="POST" action="/register" class="signup-form">
        <div class="log-border">
            <h2>REGISTER</h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Enter your username" required>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Username</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>
            </div>
            
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Password</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="password" name="password" id="username" placeholder="Enter your password" required>
                </div>
            </div>
            
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">&nbsp;</label>
                </div>
                
                <div class="col span-1-of-3">
                    <button class="btn btn-ghost" type="submit">Register</button>
                </div>

                <div class="col span-1-of-3">
                    <a class="btn btn-ghost" href="/">Home</a>
                </div>
            </div>
        <div>
</form>
</div>

<h1>register</h1>
<form action="/admin/user/new" method="POST">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<div>
    <label for="role">Role</label>
    <select name="role" id="role">
        <option value="admin">Admin</option>
        <option value="coordinator">Coordinator</option>
        <option value="user">User</option>
    </select>
</div>
<div>
    <label for="faculty">Faculty</label>
    <select name="faculty">
        <% faculty.forEach(faculty => { %>
            <option label="<%= faculty.name %>" value="<%= faculty._id %>">
        <% }) %>
    </select>
</div>
<button type="submit">Register</button>
</form>
<a href="/admin">Home</a>