<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav" id="navi">
            <li>
                <a href="javascript:void(0);" class="icon-rp"  onclick="myFunction()">
                 <i class="ion-ios-information-circle"></i>
                </a>
            </li>
            <li> <a href="/admin/faculty">Manage falcuty </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>
<%- include('../partials/errorMessage.ejs') %>
<div class="row">
    <form method="POST" action="/admin/user/new" class="signup-form">
        <div class="log-border">
            <h2> ROLES REGISTER </h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Enter your username" required>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Username</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Password</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="password" name="password" id="username" placeholder="Enter your password" required>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Roles</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="role" id="role">
                        <option value="admin">Admin</option>
                        <option value="manager">Manager</option>
                        <option value="coordinator">Coordinator</option>
                        <option value="student">Student</option>
                        <option value="guest">Guest</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Falcuty</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="faculty">
                        <% faculty.forEach(faculty => { %>
                            <option label="<%= faculty.name %>" value="<%= faculty._id %>">
                        <% }) %>
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">&nbsp;</label>
                </div>
                
                <div class="col span-1-of-3">
                    <button class="btn btn-ghost" type="submit">Register</button>
                </div>

                <div class="col span-1-of-3">
                    <a class="btn btn-ghost" href="/admin/user">Return</a>
                </div>
            </div>
        <div>
</form>
</div>

