<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/admin/faculty">Manage falcuty </a> </li>
            <li> <a href="/admin">Home </a> </li>
            <li> <a href="/admin/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<section>
    <div class="row">
        <div class="log-border">
            <div class="signup-form">
                <h2>Show read message</h2>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Message:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.message %>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Sent At:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.createdAt.toISOString().split('T')[0] %>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="">Sender:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <%= room.sender.name %>
                    </div>
                </div>

                <div class="row fal-add-css">
                    <div class="col span-2-of-2">
                        <a class="btn btn-ghost" href="/admin/message/read">Back</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>

