<section class="pb-3">
    <nav class=" sticky pb-2">
        <div class="row text-dark">
            <a href="/coordinator"><img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
                <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black"></a>
            <ul class="main-nav " id="navi">
                <li>
                    <a href="javascript:void(0);" class="icon-rp" onclick="myFunction()">
                        <i class="ion-ios-information-circle"></i>
                    </a>
                </li>
                <li><a href="/coordinator">Home</a></li>
                <li> <a href="/coordinator/topic">Topic </a> </li>
                <li> <a href="/coordinator/allArticle">All Article </a> </li>
                <li> <a href="/coordinator/article">Article </a> </li>
                <li> <a href="/coordinator/logout">Sign Out </a> </li>

            </ul>
        </div>
    </nav>
</section>

<div class="p-5">
    <h2 class="text-danger text-center font-weight-bold">ADD NEW TOPIC</h2>
</div>

<section class="p-5 mb-5">
    <form action="/coordinator/topic/new" method="POST">
        <div class="p-3">
            <label for="name" class="strong">Name Of Topic</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="p-3">
            <label for="expiredDate" class="strong">Expired Date</label>
            <input type="date" id="expiredDate" name="expiredDate">
        </div>
        <div class="p-3">
            <label for="finalExpiredDate" class="strong">Final Expired Date</label>
            <input type="date" id="finalExpiredDate" name="finalExpiredDate">
        </div>
        <div class="p-3">
            <label for="description" class="strong">Description</label>
            <textarea name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add topic</button>
    </form>
    <a href="/admin/faculty">Cancel</a>
</section>
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="nav-footer">
                <li> <a href="#">about us</a> </li>
                <li> <a href="#">blog</a> </li>
                <li> <a href="#">Press</a> </li>
                <li> <a href="#">IOS app</a> </li>
                <li> <a href="#">ANDROID app</a> </li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-link-footer">
                <li>
                    <a href="#"> <i class="ion-logo-facebook"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-twitter"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-instagram"></i> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyrighted &copy; 2020 by Unipara all rights reversed
        </p>
    </div>
</footer>