<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black">
        <ul class="main-nav">
            <li> <a href="/manager">Home </a> </li>
            <li> <a href="/manager/logout">logout </a> </li>
        </ul>
    </div>
</nav>

<div class="row">
    <form class="signup-form">
        <div class="log-border">
            <h2> <%= faculty.name %> </h2>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Description:</label>
                </div>
                <div class="col span-2-of-3">
                    <%= faculty.description %>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Faculty topic:</label>
                </div>
                <div class="col span-2-of-3">
                    <% topic.forEach(topic => { %>
                        <%= topic.name %>
                    <% }) %>
                </div>
            </div>
            
            <div class="row fal-add-css">            
                <div class="col span-1-of-3">
                    <a class="btn btn-ghost" href="/manager/faculty">Home</a>
                </div>
            </div>
        <div>
</form>
</div>
<div>
    <form action="/manager/faculty/downloadAll/<%= faculty._id %>" method="GET">
        <button type="submit">Download All</button>
    </form>
</div>

