<nav class="sticky sticky-admin">
    <div class="row">
        <img src="/resources/img/logo.jpg" alt="missing picture" class="logo">
        <a href="/student"><img src="/resources/img/logo.jpg" alt="missing picture" class="logo-black"></a>
        <ul class="main-nav">
            <li> <a href="/student">Home</a> </li>
            <li> <a href="/student/topic">Topic</a> </li>
            <li> <a href="/student/article">All Article</a> </li>
            <li> <a href="/student/poster">Your Article</a> </li>
            <li> <a href="/student/logout">Log out</a> </li>
        </ul>
    </div>
</nav>
<section>
    <div class="">
        <div class="row">
            <form method="post" action="/student/profile/<%= profile.id %>/changepassword?_method=PUT" class="signup-form">
                <div class="log-border">
                    <h2>Change Password</h2>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label class="fw-bold" for="username">Username: </label>
                        </div>
                        <div class=" col span-2-of-3 ">
                            <label for=""><b><%= user.username %></b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label class="fw-bold" for="">Password</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="password" name="password" id="password" placeholder="Enter your password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label class="fw-bold" for="">Verify Password</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="password" name="verifyPassword" id="verifyPassword" placeholder="Verify your password" required>
                        </div>
                    </div>
                    <br>
                    <div class="d-e">
                        <div class="d-e">
                            <button class="btn btn-ghost"><a href="/student/profile/<%= profile.id %>">Cancel</a></button>

                            <button class="btn btn-full" type="submit">Change Password</button>
                        </div>

                    </div>
            </form>

            </div>
        </div>

</section>

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="nav-footer">
                <li> <a href="#">about us</a> </li>
                <li> <a href="#">blog</a> </li>
                <li> <a href="#">Press</a> </li>
                <li> <a href="#">IOS app</a> </li>
                <li> <a href="#">ANDROID app</a> </li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-link-footer">
                <li>
                    <a href="#"> <i class="ion-logo-facebook"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-twitter"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-googleplus"></i> </a>
                </li>
                <li>
                    <a href="#"> <i class="ion-logo-instagram"></i> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyrighted &copy; 2020 by Unipara all rights reversed
        </p>
    </div>
</footer>