<h2>Hello Temp Student</h2>
<a href="/student/logout">Logout</a>
<br/>
<div>
    Send Message to Admin

    <form action="/student/temp" method="POST">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>
</div>

